<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ app.request.basePath }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/css/style.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <script src="{{ app.request.basePath }}/js/jquery.js"></script>
        <script src="{{ app.request.basePath }}/js/jquery-ui.min.js"></script>
        <script src="{{ app.request.basePath }}/js/bootstrap.min.js"></script>
        <script src="{{ app.request.basePath }}/js/scrilex.js"></script>
        <title>Scrilex</title>
        <script>
            $(document).ready(function(){
                $('[data-toggle="ajax-modal"]').on('click', function(e) {
                    e.preventDefault();
                    var $button = $(this);
                    var href = $button.attr('href');

                    $button.button('loading');

                    $.get(href, function(data) {
                        $modal = $('<div class="modal"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">×</button><h3>'+$button.data('modal-title')+'</h3></div><div class="modal-body">' + data + '</div><div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">Close</a><a href="#" class="btn btn-primary">Save changes</a></div></div>').modal();

                        $modal.find('form').on('submit', function(e){
                            e.preventDefault();
                            $modal.find('.btn-primary').click();
                        });

                        $modal.find('.btn-primary').on('click', function(){
                            $saveBtn = $(this);
                            $saveBtn.button('loading');
                            $modal.find('.modal-body').load(href, $modal.find('form').serializeArray(), function(data){
                                if(data == ""){
                                    window.location.reload();
                                    $modal.modal('hide');
                                }else{
                                    $saveBtn.button('reset');
                                }
                            });
                        });
                    }).success(function() {
                        $('input:text:visible:first').focus();
                        $button.button('reset');
                    });
                });
            });
            
            {{ javascript_routes|raw }}
        </script>     
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ path('homepage') }}">Scrilex</a>

                        <ul class="nav" role="navigation">
                            <li class="dropdown">
                                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    {% for project in projects %}
                                            <li><a href="{{ path('project_show', {'id': project.id }) }}">{{ project.name }}</a></li>
                                    {% endfor %}
                                    {% if is_granted('ROLE_MANAGER') %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('project_new') }}">
                                                <i class="icon-plus"></i>
                                                &nbsp;Add
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                    <li><a href="{{ path('admin_user') }}"><i class="icon-user"></i>&nbsp;Users</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>

                        <ul class="nav pull-right">
                            <li><a href="{{ path('logout') }}"><i class="icon icon-off"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <h1>{% block content_title %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>